A:link {text-decoration: none; COLOR: #FFFF00}
A:visited {text-decoration: none; Color: #FFFF00;}
A:active {text-decoration: none; Color: black;}
A:hover {text-decoration: none; color: black;}



#logo
{
  position:absolute;
  left:130px;
  top:200px;
}

#ltext
{
  position:absolute;
  left:430px;
  top:275px;
}

#home
{
  position:absolute;
  top:5px;
  left: 27px;
  margin:7px;
}


#about
{
  position:absolute;
  top:5px;
  left: 27px;
  margin:7px;
}

#links
{
  font-size:12pt;
  text-align:right;
  font-family: Helvetica;
  font-weight: bold;
  position:absolute;
  top:5px;
  right:10px;
  white-space:nowrap;
  text-shadow: #888 0 0 2px;
}

#links li
{
  display:block;
  margin:7px;
}

#links li a:hover {
    background: #FFFF00;
}

.textbox
{
  height:280px;
  width:300px;
  border: none;
  background-color: white;
}

#kid
{
  position:absolute;
  top:140px;
  left:40px;
  -moz-box-shadow: 0 0 10px #888;
  -webkit-box-shadow: 0 0 10px#888;
  box-shadow: 0 0 10px #888;
}


#abouttext
{
  position:absolute;
  top:133px;
  left:620px;
}

#abouttext p
{
  font-size:12pt;
  text-align:left;
  font-family: Helvetica;
  font-weight: bold;
  background: #fff;
  display:block;
  margin:5px 5px 5px 5px;
}


#projects
{
  position: absolute;
  top:5px;
  left:27px;
  margin:7px;